<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout-padrao}">

<head>
<title>Torcida Premiada - Informações Gerais</title>
</head>

<section layout:fragment="conteudo">
	<div class="">
		<div class="clearfix"></div>

		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Campanha Pública Torcida Premiada 2017</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<!-- start accordion -->
						<div class="accordion" id="accordion" role="tablist"
							aria-multiselectable="true">
							<div class="panel">
								<a class="panel-heading" role="tab" id="headingOne"
									data-toggle="collapse" data-parent="#accordion"
									href="#collapseOne" aria-expanded="true"
									aria-controls="collapseOne">
									<h4 class="panel-title">Qual a lei que instituiu a campanha pública Torcida Premiada 2017?</h4>
								</a>
								<div id="collapseOne" class="panel-collapse collapse in"
									role="tabpanel" aria-labelledby="headingOne">
									<div class="panel-body">
										Lei Nº 3.881, de 21 de dezembro de 2016.
									</div>
								</div>
							</div>
							<div class="panel">
								<a class="panel-heading collapsed" role="tab" id="headingTwo"
									data-toggle="collapse" data-parent="#accordion"
									href="#collapseTwo" aria-expanded="false"
									aria-controls="collapseTwo">
									<h4 class="panel-title">Qual o objetivo da campanha pública Torcida Premiada 2017?</h4>
								</a>
								<div id="collapseTwo" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingTwo">
									<div class="panel-body">
										Concientização da necessidade de pagamento de tributos municipais.
									</div>
								</div>
							</div>
							<div class="panel">
								<a class="panel-heading collapsed" role="tab" id="headingThree"
									data-toggle="collapse" data-parent="#accordion"
									href="#collapseThree" aria-expanded="false"
									aria-controls="collapseThree">
									<h4 class="panel-title">Quem tem direito ao benefício?</h4>
								</a>
								<div id="collapseThree" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingThree">
									<div class="panel-body">
										Pessoa física ou jurídica, proprietário ou inquilino, 
										que comprovar o adimplemento do IPTU ou ITU ou apresentar 
										Nota Fiscal Eletrônica de Serviço.
									</div>
								</div>
							</div>
							<div class="panel">
								<a class="panel-heading collapsed" role="tab" id="headingFour"
									data-toggle="collapse" data-parent="#accordion"
									href="#collapseFour" aria-expanded="false"
									aria-controls="collapseFour">
									<h4 class="panel-title">Quantos ingressos o beneficiário terá direito?</h4>
								</a>
								<div id="collapseFour" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingFour">
									<div class="panel-body">
										O beneficiário terá direito a 2 (dois) ingressos por inscrição imobiliária
										ou Nota Fiscal Eletrônica, limitado a 6 (seis) ingressos por cadastro de contribuinte.
									</div>
								</div>
							</div>
							<div class="panel">
								<a class="panel-heading collapsed" role="tab" id="headingFive"
									data-toggle="collapse" data-parent="#accordion"
									href="#collapseFive" aria-expanded="false"
									aria-controls="collapseFive">
									<h4 class="panel-title">Quando os ingressos serão disponibilizados?</h4>
								</a>
								<div id="collapseFive" class="panel-collapse collapse"
									role="tabpanel" aria-labelledby="headingFive">
									<div class="panel-body">
										Ficarão disponíveis apenas quando a partida de futebol for realizada na cidade de Anápolis, 
										com mando de campo para o time da cidade de Anápolis, com sede na cidade de Anápolis e que seja 
										entidade sem fins lucrativos devidamente inscrita no Cadastro de Atividades Econômicas do município.
									</div>
								</div>
							</div>
						</div>
						<!-- end of accordion -->
					</div>
				</div>
			</div>
		</div>
</section>
</html>